<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>KP-stonks</title>
    <meta name="title" content="KP-stonks" />
    <meta
      name="description"
      content="Kotipizzan tämänhetkisen dynaamisen toimitushinnan haku koordinaattien mukaan"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://kp-stonks.herokuapp.com/" />
    <meta property="og:title" content="KP-stonks" />
    <meta
      property="og:description"
      content="Kotipizzan tämänhetkisen dynaamisen toimitushinnan haku koordinaattien mukaan"
    />
    <meta property="og:image" content="https://kp-stonks.herokuapp.com/static/img/thumbnail.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://kp-stonks.herokuapp.com/" />
    <meta property="twitter:title" content="KP-stonks" />
    <meta
      property="twitter:description"
      content="Kotipizzan tämänhetkisen dynaamisen toimitushinnan haku koordinaattien mukaan"
    />
    <meta property="twitter:image" content="https://kp-stonks.herokuapp.com/static/img/thumbnail.png" />

    <!-- styles -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <style>
      #map {
        height: 400px;
        cursor: pointer;
      }
    </style>
  </head>

  <body>
    <div id="content">
      <div class="banner">
        <p style="padding: 0.5em">
          <em
            >Kotipizzan tämänhetkisen dynaamisen toimitushinnan haku
            koordinaattien mukaan</em
          >
        </p>
      </div>

      <div class="container">
        <div class="column">
          <header>
            <h1 class="title">
              <img src="/static/img/pizza.svg" width="60px" alt="" />
              <a href="/" style="box-sizing: border-box; padding: 0.5em"
                >KP STONKS</a
              >
            </h1>
          </header>

          <h2 class="pd">
            Kotipizzan tämänhetkisen
            <span>dynaamisen toimitushinnan haku</span> koordinaattien mukaan
          </h2>

          <section>
            <h3>Valitse sijainti</h3>

            <div id="map"></div>
          </section>

          <section class="price">
            <div class="card">
              <p>Toimitushinta tällä hetkellä valitussa paikassa</p>
              <div class="price-tag">
                <p id="price-amount">
                  {% block content %} {{data}} {% endblock content %}
                </p>
              </div>
              <!--TODO tähän vois lisätä myös ravintolan mistä hinta tällä hetkellä noudettu-->
            </div>
          </section>

          <section class="about">
            <h3>Tietoa dynaamisesta hinnasta</h3>

            <p>
              Kotipizzan dynaaminen toimitushinta muodostuu kysynnän eli alueen
              pizzerian kiireellisyyden mukaan. Kotipizza päivittää hinnan
              kymmenen minuutin välein.
            </p>
          </section>
        </div>
      </div>
    </div>
    <footer id="footer">
      <a href="https://github.com/nyksy/kp-stonks">Projekti Githubissa</a>
    </footer>
  </body>
</html>

<!-- Make sure you put this AFTER Leaflet's CSS -->
<script
  src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""
></script>
<script src="/static/js/index.js"></script>
